python-bitcoinrpc>=1.0
bitcoin>=1.1.42
trezor==0.13.9
keepkey @git+https://github.com/Bertrand256/python-keepkey
libusb1~=3.2.0
PyQt5==5.15.11
PyQtChart==5.15.7
pyinstaller==6.18.0
paramiko==3.5.1
requests==2.34.2
mnemonic~=0.21
simplejson==4.1.2
cryptography==50.0.1
bip32utils~=0.3.post4
more-itertools==11.1.0
setuptools==83.0.0
btchip-python @git+https://github.com/Bertrand256/btchip-python
ledgerwallet==0.6.0
blspy==2.0.3
construct==2.10.70
protobuf==5.29.6
QDarkStyle==3.2.3
nuitka
imageio