python-bitcoinrpc>=1.0
bitcoin>=1.1.42
trezor==0.12.2
keepkey
libusb1~=3.0.0
PyQt5==5.15.3
PyQtChart==5.15.3
pyinstaller==4.4; sys_platform == 'linux'
pyinstaller>=4.3; sys_platform == 'darwin'
pyinstaller>=4.3; sys_platform == 'win32'
paramiko~=2.10.4
requests
mnemonic~=0.19
simplejson~=3.17.2
cryptography>=3.4.6
bip32utils~=0.3.post4
more-itertools
btchip-python
ledgerwallet
python-bls
construct==2.10.60
QDarkStyle>=3.0.2