python-bitcoinrpc>=1.0
bitcoin>=1.1.42
trezor==0.11.1
keepkey
PyQt5==5.9.2
PyQtChart==5.9.2
pyinstaller
paramiko>=2.2.1
requests>=2.18.4
mnemonic>=0.18
simplejson
cryptography
bip32utils
more-itertools
-e git+https://github.com/Bertrand256/btchip-python#egg=btchip-python
-e git+https://github.com/Bertrand256/bls-signatures.git#egg=blspy
